body {
    font-family: 'Arial', sans-serif;
  }
  
  #chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  #chat-button {
    background-color: #ff2e63;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  #chat-button:hover {
    transform: scale(1.1);
  }
  
  #chat-box {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 350px;
    height: 500px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease;
  }
  
  #chat-box.open {
    opacity: 1;
    transform: scale(1);
  }
  
  #chat-header {
    background-color: #ff2e63;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0 0;
  }
  
  #chat-header h3 {
    margin: 0;
    font-size: 18px;
  }
  
  #close-button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  #chat-messages {
    height: 350px;
    padding: 10px;
    overflow-y: scroll;
  }
  
  #chat-input {
    padding: 10px;
    display: flex;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
  }
  
  #chat-input input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-family: 'Arial', sans-serif;
  }
  
  #send-button {
    background-color: #ff2e63;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  
  #send-button:hover {
    background-color: #e02054;
  }
  
  .message {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .user {
    justify-content: flex-end;
  }
  
  .message p {
    background-color: #e5e5ea;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
  }
  
  .bot p {
    background-color: #ff2e63;
    color: #fff;
  }
  
  .bot {
    justify-content: flex-start;
  }
  
  .bot p {
    background-color: #ff2e63;
    color: #fff;
  }
  @keyframes typing {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  
  .typing-animation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .dot {
    background-color: #ff2e63;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    animation: typing 1s infinite;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  